app-env/
.vscode/
gmail_worker/credentials.json
gmail_worker/token.json
gmail_worker/*.sql
gmail_worker/local_execution.py
db_scripts/*.sql
chip_clock/token.json
chip_clock/venv/
chip_clock/api/__pycache__/
chip_clock/ScheduleExtractor.code-workspace
.vercel

todo.md
chip_clock/Chipotle Weekly Schedule.pdf
graphify-out/
