app/__pycache__/calendar_utils.cpython-313.pyc
app/__pycache__/gmail_worker.cpython-313.pyc
app/__pycache__/main.cpython-313.pyc
app/__pycache__/schedule_parser.cpython-313.pyc
do_not_commit.txt
credentials1.json
app-env/
