app/__pycache__/calendar_utils.cpython-313.pyc
app/__pycache__/gmail_worker.cpython-313.pyc
app/__pycache__/main.cpython-313.pyc
app/__pycache__/schedule_parser.cpython-313.pyc
app/.venv/
do_not_commit.txt
credentials1.json
app-env/
.vscode/
__queuestorage__/
__blobstorage__/
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
gmail_worker/credentials.json
gmail_worker/token.json
gmail_worker/*.sql
*.pdf
gmail_worker/local_execution.py
